<div class="row top" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h2 mat-dialog-title>Overall Analysis</h2>
    <img src="../../../assets/icons/x-button.svg" class="x-button" (click)="close()" />
</div>
<p>These notes and analysis apply to the entire diagnostic and note any individual question.</p>
<h6>Notes</h6>
<mat-dialog-content class="mat-typography">
    <quill-editor [modules]="editorOptions" [(ngModel)]="data.diagnosticNotes" placeholder="Enter notes here..."></quill-editor>
    <app-swot [diagnostic]="data.diagnostic"></app-swot>
</mat-dialog-content>



